{% extends 'base.html' %}
{% block title %}
О Компании |
{% endblock %}
{% block content %}
    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row breadcrumb_box  align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-start">
                            <h2 class="breadcrumb-title">О Компании</h2>
                        </div>
                        <div class="col-lg-6  col-md-6 col-sm-6">
                            <!-- breadcrumb-list start -->
                            <ul class="breadcrumb-list text-center text-sm-end">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                                <li class="breadcrumb-item active">О Компании</li>
                            </ul>
                            <!-- breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <div id="main-wrapper">
        <div class="site-wrapper-reveal border-bottom">

            <div class="about-us-pages-area">

                <div class="our-customer-suppoer-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <!-- Single Support Item Start -->
                                <div class="single-support-item">
                                    <div class="header-support">
                                        <div class="icon">
                                            <i class="icon-bag2"></i>
                                        </div>
                                        <h6><a href="#">Покупка онлайн</a></h6>
                                    </div>
                                    <div class="iconbox-desc">
                                        <p>Вы можете оставить заявку на сайте, и наши менеджеры свяжутся с вами в ближайшее время.</p>
                                    </div>
                                </div>
                                <!-- Single Support Item End -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <!-- Single Support Item Start -->
                                <div class="single-support-item">
                                    <div class="header-support">
                                        <div class="icon">
                                            <i class="icon-cash-dollar"></i>
                                        </div>
                                        <h6><a href="#">Способ оплаты</a></h6>
                                    </div>
                                    <div class="iconbox-desc">
                                        <p>Letraset sheets containing Lorem Ipsum publishing software.</p>
                                    </div>
                                </div>
                                <!-- Single Support Item End -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <!-- Single Support Item Start -->
                                <div class="single-support-item">
                                    <div class="header-support">
                                        <div class="icon">
                                            <i class="icon-paper-plane"></i>
                                        </div>
                                        <h6><a href="#">Доставка</a></h6>
                                    </div>
                                    <div class="iconbox-desc">
                                        <p>Доставка по Казани бесплатная. А также есть доставка по миру</p>
                                    </div>
                                </div>
                                <!-- Single Support Item End -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                                <!-- Single Support Item Start -->
                                <div class="single-support-item">
                                    <div class="header-support">
                                        <div class="icon">
                                            <i class="icon-history"></i>
                                        </div>
                                        <h6><a href="#">Возврат</a></h6>
                                    </div>
                                    <div class="iconbox-desc">
                                        <p>Мы даем гарантию 1 месяц на случай производственного брака.</p>
                                    </div>
                                </div>
                                <!-- Single Support Item End -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="perfection-area section-space--pt_90 section-space--pb_90">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="perfection-dec mr-lg-5">
                                    <h5 class="mb-10">{{ about.title }}</h5>
                                    <p>{{ about.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}