{% extends "base.html" %}
{% block meta %}
    <meta http-equiv="refresh" content="4; url ={% url 'home' %}"/>
{% endblock %}

{% block title %}
    Спасибо за Ваш заказ
{% endblock %}

{% block content %}
    <div class="container">
        <br><br><br>
        <div class="col-md-9">
            <h1>Спасибо за Ваш заказ</h1>
            <p>Ваш заказ на обработке. Вскоре наш менеджер свяжется с Вами. Номер Вашего заказа
                <strong>№ {{ order.id }}</strong>.</p>
        </div>
        <br><br><br><br><br>
    </div>
{% endblock %}